:root {
    /* Agrega las fuentes aqui */
    --font: 'Roboto', sans-serif;

    --DarkBlue:#1f3e72;
    --SkyBlue:#118fe4;
    --Blue:#3151cf;
    --SoftBlue:#eef3ff;
    --Grey:#828ea3;
    --Yellow: #fffae7;
}
html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}
*,*:before,*:after{
    box-sizing: inherit;
}
body{
    font-family: var(--font);
    font-size: 1.6rem;
    line-height: 2rem;
}
/* Globales */
.container{
    max-width: 130rem;
    width: 90%;
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: var(--Grey);
}
h1{
    font-size: 6rem;
}
h2{
    font-size: 4rem;
}
h1, h2{
    color: var(--DarkBlue);
    line-height: 6rem;
}
p{
    color: var(--Grey);
}
img{
    max-width: 100%;
}
li{
    list-style: none;
}
.bold{
    font-weight: bold;
    color: var(--DarkBlue);
}
/* Utilities */
.no-margin{
    margin: 0;
}
.no-padding{
    padding: 0;
}
.text-center{
    text-align: center;
}
/* Header section */
header{
    text-align: center;
}
.header-nav ul{
    display: flex;
    flex-direction: column;
    padding: 3rem 0;
}
.logo{
    font-weight: bold;
    color: var(--Blue);
    font-size: 2rem;
}
.header-nav ul{
    display: flex;
    gap: 2rem;
}
header .header-nav ul li{
    list-style: none;
    color: var(--Grey);
}
.main-button{
    background: rgb(8,152,230);
    background: linear-gradient(90deg, rgba(8,152,230,1) 0%, rgba(46,107,220,1) 100%);
    color: white;
    padding: 1.5rem 2.5rem;
    border-radius: 0.5rem;
}
.secundary-button{
    background-color: var(--SoftBlue);
    color: var(--Blue);
    padding: 1.5rem 2.5rem;
    border-radius: 0.5rem;
}
/* Seccion del main */

@media (min-width: 768px){
    main .landing-view{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
.landing-view--info p{
    line-height: 2.5rem;
}
.landing-view--benefits{
    margin-top: 4rem;
    display: flex;
    gap: 4rem;
    list-style: none;
    color: var(--Grey);
    font-weight: bold;
}
.benefits{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.benefit-img-container{
    background-color: var(--Yellow);
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
}
.benefit-img{
    width: 1.5rem;
}
.landing-view--img{
    background: rgb(8,152,230);
    background: linear-gradient(90deg, rgba(8,152,230,1) 0%, rgba(46,107,220,1) 100%);
}

/* Schedule section */
.schedule-info-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
@media (min-width: 768px){
    .schedule-info-container{
        display: flex;
        align-items: center;
        gap: 15rem;
        -webkit-box-shadow: 13px 10px 50px -26px #000000; 
        box-shadow: 13px 10px 50px -26px #000000;
    }
}
.schedule-info{
    display: flex;
    gap: 2rem;
    padding: 3rem 0 2.5rem 3rem;
}
.schedule-icon{
    background-color: var(--SoftBlue);
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
}
.schedule-icon img{
    width: 1.5rem;
}
/* Vaccine brands */
.vaccine-brands ul{
    display: flex;
    margin: 10rem 0;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}
.vaccine-brands ul li img{
    width: 20rem;
}
/* Reasons section */
.reasons p{
    line-height: 3rem;
}
.benefits-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
@media (min-width: 768px){
    .benefits-container{
        display: flex;
        justify-content: space-between;
    }
}
.benefit-icon{
    background-color: var(--SoftBlue);
    width: 4.5rem;
    height: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
}
.benefit-icon img{
    width: 3rem;
}
/* Preparations section */
@media (min-width: 768px){
    .preparations{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10rem;
        margin: 15rem 0;
    }
}
.preparations-img{
    background: rgb(8,152,230);
    background: linear-gradient(90deg, rgba(8,152,230,1) 0%, rgba(46,107,220,1) 100%);
    display: flex;
    align-items: center;
}
.preparations-info p{
    line-height: 3rem;
}
.preparations-info ul{
    margin-top: 8rem;
}
.preparations ul li{
    margin: 4rem 0;
    list-style: circle;
}

/* contact section */
.emergency-contact .text{
    line-height: 3rem;
    padding-bottom: 3rem;
}
@media (min-width: 768px){
    .get-contact{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
.contacts-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
}
.contact-icon{
    background-color: var(--SoftBlue);
    width: 4.5rem;
    height: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
}
.contact-icon img{
    width: 2.5rem;
}
.contacts-img{
    background: rgb(8,152,230);
    background: linear-gradient(90deg, rgba(8,152,230,1) 0%, rgba(46,107,220,1) 100%);
    height: 50rem;
}
.contacts-img img{
    width: 50rem;
}
/* footer section */
footer{
    background-color: var(--SoftBlue);
    margin-top: 10rem;
    padding-top: 5rem;
}
.footer-up-side{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.footer-l--side{
    line-height: 3rem;
}
.footer-r--side, .footer-r--section{
    display: flex;
}
.footer-r--section{
    flex-direction: column;
    gap: 1rem;
    padding-left: 8rem;
    line-height: 2.8rem;
}
.footer-copyright{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 3rem 1rem;
}